<div class="inner-bar-left">
    <div class="d-inline-block ms-3 dropright">
        <button type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow me-3 btn-sm btn btn-secondary">
            <i class="fa fa-anchor"></i>
        </button>
        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu">
            <a href="javascript:void(0);" class="dropdown-item">
                <i class="nav-link-icon lnr-inbox me-2"></i>
                <span>
                    Inbox
                </span>
                <div class="ms-auto badge rounded-pill bg-secondary">86</div>
            </a>
            <a href="javascript:void(0);" class="dropdown-item">
                <i class="nav-link-icon lnr-book me-2"></i>
                <span>
                    Book
                </span>
                <div class="ms-auto badge rounded-pill bg-danger">5</div>
            </a>
            <a href="javascript:void(0);" class="dropdown-item">
                <i class="nav-link-icon lnr-picture me-2"></i>
                <span>
                    Picture
                </span>
            </a>
            <a disabled href="javascript:void(0);" class="dropdown-item disabled">
                <i class="nav-link-icon lnr-file-empty me-2"></i>
                <span>
                    File Disabled
                </span>
            </a>
        </div>
    </div>
</div>
