{{> header-mobile }}
<div class="app-header">
    <div class="page-title-heading">
        Page Title
        <div class="page-title-subheading">
            Page Description here...
        </div>
    </div>
    <div class="app-header-right">
        {{> header-right }}
    </div>
    <div class="app-header-overlay d-none animated fadeIn"></div>
</div>
